@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Playwrite+IT+Moderna:wght@100..400&display=swap');
:root {
    --p-text: rgb(66, 66, 66);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
body {
    z-index: -1;
    height: 100%;
    width: 100%;
    font-family: "Nunito";
}