.landing_page > *  {
    padding: 25px;
}
.greeting_banner {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.greeting_msg {
    max-width: 600px;
}


@media (max-width: 800px) {
    .landing_page {
        padding-top: 75px;
        bordeR: 1px solid red;
    }
}