.modal_wrap {
    position: absolute;
    z-index: 100;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal_wrap.page_mode {
    position: relative;
    background: none;
}
.page_mode .login_modal_form {
    transform: translateY(0);
}
.modal_mode .login_modal_form {
    animation: modalSlideUp .3s ease forwards;
    width: 400px;
    border-radius: 15px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1), -5px -5px 20px rgba(0, 0, 0, 0.1)
}

.login_modal_form {
    background: vaR(--bg);
    display: flex;
    flex-direction: column;
    padding: 25px;
    gap: 25px;
    border-radius: 7px;
}
.form_header {
    display: flex;
    padding-top: 15px;
}
.form_header h1 {
    font-size: 25px;
    font-weight: 700;
}
.close_modal_btn {
    background: none;
    position: absolute;
    top: 15px;
    right: 15px;
}
.close_modal_btn svg {
    color: var(--p-text);
    font-size: 17px;
}
.login_modal_form label {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.login_modal_form input {
    padding: 10px;
    border: 1px solid var(--light-border);
    font-size: 15px;
    border-radius: 5px;
}
.login_modal_form button:not(.redirect_modal_link) {
    border-radius: 25px;
    padding: 10px;
    font-size: 15px;
    padding-left: 15px;
    padding-right: 15px;
    width: fit-content;
    border: none;
    outline: none;
    color: var(--bg)
}
.login_modal_form button:disabled {
    opacity: .5;
}
.redirect_modal_link {
    border: none;
    background: none;
    padding: 0;
    font-size: 1em;
    color: var(--primary-theme);
    text-decoration: underline;
}

.submit_btn {
    background: vaR(--primary-theme);
    margin-left: auto;
}

@keyframes modalSlideUp {
    0% {
        transform: translateY(100%)
    }
    100% {
        transform: translateY(-70px)
    }
}