
.root_layout {
    position: relative;
    height: 100vh;
    z-index: 10;
}
.root_header {
    padding: 15px;
    display: flex;
    align-items: center;
    color: vaR(--p-text);
    border: 1px solid blue;
    justify-content: space-between;
    position: relative;
}
.logo_container {
    display: flex;
    gap: 10px;
    width: 250px;
    border: 1px solid red;
}
.logo_img {
    height: 30px;
}
.logo_text {
    font-size: 1em;
    font-weight: bolder;
}
.root_nav {
    display: flex;
    gap: 20px;
    position: relative;
    border: 1px solid red;
}
.user_links {
    display: flex;
    align-items: center;
    gap: 25px;
    width: 250px;
    border: 1px solid red;
}
.chat_link svg {
    font-size: 1.5em;
    transform: translateY(2px);
}
.nav_username_btn {
    font-size: 1em;
    background: none;
    border: none;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 25px;
    border: 1px solid gray;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}
.nav_username_btn svg{
    font-size: 1.5em;
}
.nav_user_modal {
    position: absolute;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    top: 50px;
    right: 15px;
}
.nav_user_modal a, .nav_user_modal button {
    border: none;
    padding: 5px;
    width: 125px;
    font-size: 13px;
    background: var(--bg);
    justify-content: center;
    border: 1px solid red;
    height: 30px;
    text-align: left;
    color: var(--p-text);
    font-weight: bold;
    cursor: pointer;
}



/* Shared Page Layout */
.page_layout {
    border: 1px solid red;
    height: 100%;
    padding: 25px;
}


/* Mobile Nav Styles */

.mobile_nav_600 {
    display: none;
    width: 100%;
    padding: 7px;
}
.mobile_nav_600 a {
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;
}
.mobile_nav_600 a > svg {
    font-size: 25px;
}

@media (max-width: 800px) {
    .logo_text, .chat_link, .host_link {
        display: none;
    }
    .user_links, .logo_container {
        width: 100px;
    }
    
}

@media (max-width: 600px) {
    .root_header {
        display: none;
    }
    .mobile_nav_600 {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        position: absolute;
        bottom: 0;
        border: 1px solid red;
    }

}